@font-face {
  font-family: calamari;
  src: url("./assets/Game\ Of\ Squids.otf");
}

body {
  height: 100%;
  background-image: linear-gradient(to top, #000000 0%, #29323c 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ed1b76;
  text-align: center;
  font-family: calamari, monospace;
}

.btn:not(.btn-info):not(.btn-warning):not(.btn-danger):not(.btn-success) {
  color: #ed1b76;
  background-color: white;
  border: 2px solid white;
}

.btn:not(.btn-info):not(.btn-warning):not(.btn-danger):not(.btn-success):hover {
  color: #ed1b76;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ed1b76;
}

.game-btn {
  padding: 2rem;
}

.readable {
  font-family: Arial, Helvetica, sans-serif;
}

.squidGreen {
  color: #249f9c;
}

.marbleDiv1 {
  margin-top: 25%;
}

/* you lose */
@keyframes mymove1 {
  0% {
    bottom: 30%;
    left: 10%;
  }
  50% {
    bottom: 30%;
    left: calc(50% - 100px);
  }
  100% {
    bottom: 30%;
    left: calc(50% - 100px);
  	/* bottom: 30%;
    left: 10%; */
    
  }
}

/* you win */

@keyframes mymove2 {
  0% {
    bottom: 30%;
    left: 10%;
  }
  50% {
    bottom: 30%;
    left: calc(90% - 100px);
  }
  100% {
    bottom: 30%;
    left: calc(90% - 100px);
  	/* bottom: 30%;
    left: 10%; */
  }
}


.guard {
  width: 7%;
}

.money {
  width: 6%;
  margin-right: 1%;
}

.card {
  background-image: linear-gradient(to top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%);
}

.bridgeTile {
  width: 250px;
  height: 250px;
  margin-left: 0;
  margin-bottom: 0;
  border: solid 5px black;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}