@font-face {
  font-family: calamari;
  src: url("./assets/Game\ Of\ Squids.otf");
}

:root {
  cursor: url('../public/doll.png'), auto;
}


body {
  height: 100%;
  background-image: linear-gradient(to top, #000000 0%, #29323c 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ed1b76;
  text-align: center;
  font-family: calamari, monospace;
}

.btn:not(.btn-info):not(.btn-warning):not(.btn-danger):not(.btn-success) {
  color: #ed1b76;
  background-color: white;
  border: 2px solid white;
}

.btn:not(.btn-info):not(.btn-warning):not(.btn-danger):not(.btn-success):hover {
  color: #ed1b76;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ed1b76;
  cursor: url('../public/doll.png'), auto !important;
}

.game-btn {
  padding: 2rem;
  border: 10px;
  border-radius: 20px;
  cursor: url('../public/doll.png'), auto !important;
}

.btn-hide {
  background-color: #000000;
  color: #000000;
  border: 1px solid white;
}

.readable {
  font-family: Arial, Helvetica, sans-serif;
  /* color: #77b300;
  color: #689c00;
  color: #588300;
  color: #93c;
  color: rgb(127, 42, 170);
  color: rgb(106, 35, 142);
  color: #f80;
  color: rgb(217, 116, 0);
  color: rgb(155, 83, 0);
  color: #c00;
  color: rgb(155, 0, 0);
  color: rgb(118, 0, 0); */
}

.squidGreen {
  color: #249f9c;
}

/* you lose */
@keyframes mymove1 {
  0% {
    bottom: 30%;
    left: 10%;
  }
  50% {
    bottom: 30%;
    left: calc(50% - 100px);
  }
  100% {
    bottom: 30%;
    left: calc(50% - 100px);
  }
}

/* you win */

@keyframes mymove2 {
  0% {
    bottom: 30%;
    left: 10%;
  }
  50% {
    bottom: 30%;
    left: calc(90% - 100px);
  }
  100% {
    bottom: 30%;
    left: calc(90% - 100px);
  }
}

.guard {
  width: 17%;
  margin-left: 1rem;
}

.money {
  width: 17%;
  margin-right: 1rem;
}

.card {
  background-image: linear-gradient(to top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%);
}

.bridgeTile {
  width: calc(100vh/4);
  height: calc(100vh/4);
  margin: 0;
  border: solid 5px black;
  backdrop-filter: blur(5px);
}


.playerImg {
  width: 150px;
  height: 180px;
}


.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

.gameOver {
  background-image: url("./assets/rip_squid.png");
}

/* audio btn */
#customSwitches {
  max-width: fit-content;
  height: 34px;
  position: absolute;
  right: 1%;
  top: 5%;
  border-radius: 11px;
  background-color: black;
  color:white;
  border: none;
}
